.App {
  text-align: center;
  font-family: 'Aktiv-Grotesk-Bold';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
    font-family: 'Aktiv-Grotesk-Bold';
    src: url('../public/Aktiv-Grotesk-Bold/Aktiv-Grotesk-Bold.otf'), url('../public/Aktiv-Grotesk-Bold/Aktiv-Grotesk-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv-Grotesk-Bold';
    src: url('../public/gotham-rounded/GothamRounded-Medium.otf'), url('../public/gotham-rounded/GothamRoundedMedium_21022.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
