.festival-card {
    text-align: left;
    padding: 5vw;
    padding-top: 2vw;
    height: 100vh;
    width:  90vw;
    /* margin-top: 10px; */
}

/* .festival-card:hover {
    margin-top: 0;
    transition: 1s;
} */

.artist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.artist-bubble {
    padding: 10px;
    border-color: white;
    border-width: 1px;
    font-family: 'Aktiv-Grotesk-Bold';
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0;
    transition: 0.3s;
    user-select: none;
    background-color: rgb(255, 0, 0, 0);
    padding: 0;
}

.top-connector {
    position: absolute;
    top: 6vh;
    right: 15vh;
    height: 120%;
    width: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
}

.middle-connector {
    position: absolute;
    /* top: 0; */
    right: 15vh;
    height: 120%;
    width: 30px;
    background-color: white;
}

.bottom-connector {
    position: absolute;
    /* top: 0vh; */
    right: 15vh;
    height: 95vh;
    width: 30px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.date-bubble {
    position: absolute;
    margin-top: 10vh;
    right: 11vh;
    padding: 10px;
    /* border-color: white;
    border-width: 1px;
    border-style: solid; */
    border-radius: 13vh;
    background-color: white;
}

.image-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.image-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.festival-img {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    width: 200%;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    user-select: none;
    min-width: 650px;
    /* filter: blur(2px); */
}

.festival-img:hover {
    margin-top: -1vh;
    /* filter: blur(8px); */
    transition: 0.3s;
}

.festival-img:hover img{
    filter: blur(4px);
}

.full-lineup {
    opacity: 0;
    transition: 0.3s;
}

.full-lineup:hover {
    opacity: 1;
    transition: 0.3s;
}

.first {
    font-size: 50px;
}

.second {
    font-size: 30px;
}

.third {
    font-size: 20px;
}

.date {
    margin-top: 0 !important;
    text-align: center;
    user-select: none;
}

.title {
    margin-top: 0 !important;
    text-align: center;
    user-select: none;
}

.title:hover {
    cursor: pointer;
}