.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transform: translate(-50%,0%);
    background-color: black;
    user-select: none;
}

.login-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: blur(5px);
  }

.login-button {
    margin-top: 10%;
    background-color: rgb(65,214,98);
    color: black;
    padding: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 40px;
    border-radius: 100px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: 'Aktiv-Grotesk-Bold';
    transition: 0.3s;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.login-button:hover {
    background-color: rgb(55,204,88);
    /* border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; */
    border-radius: 30px;
    transition: 0.3s;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-family: 'Aktiv-Grotesk-Bold';
    font-size: 11vh;
    margin-bottom: 0px;
    margin-top: 5vh !important;
}

p {
    font-family: 'Aktiv-Grotesk-Bold';
    color: white;
}

button p {
    font-size: 3vh;
    margin: 0;
    margin-top: 1vh;
    margin-right: 1vh;
}

#description {
    max-width: 50vw;
    font-size: 2.5vh;
}

#spotify-icon {
    width: 5vh;
}