.festival-card-container {
    max-width: 100%;
    justify-content: space-between;
    margin: 0;
    flex-direction: column;
    display: flex;
    overflow-x: scroll;
}

html, body {
    height: 100%;
}

body {
  display: flex;
  align-items: center;
}

#root {
    margin: auto;
}

#loading-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

#loading-image {
    margin: auto;
}

#loading-text {
    font-size: 5vw;
}